<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsh.portfolio.mapper.UsersMapper">

	<resultMap id="UserResult" type="com.jsh.portfolio.dto.User">
		<result property="userName" column="userName" />
		<result property="password" column="password" />
		<result property="isAdmin" column="isAdmin" />
	</resultMap>

	<insert id="insertUsers" parameterType="com.jsh.portfolio.dto.User">
		INSERT INTO users(id,userName, password, isAdmin) VALUES(#{id},#{userName},#{password},'n')
	</insert>
	
	<resultMap id="UserInfoResult" type="com.jsh.portfolio.dto.UserInfo">
		<result property="email" column="email" />
		<result property="tel" column="tel" />
	</resultMap>
	
	<insert id="insertUsersInfo" parameterType="com.jsh.portfolio.dto.UserInfo">
		INSERT INTO usersInfo(email, tel) values(#{email}, #{tel})
	</insert>
	
	<select id="userInfoList" resultMap="UserInfoResult">
		SELECT * FROM usersInfo
	</select>

	<select id="getUserByUserName" resultType="com.jsh.portfolio.dto.User">
		SELECT * FROM users 
		WHERE userName=#{userName}
	</select>
	
	<select id="getUserInfoByInfoId" parameterType="long" resultType="com.jsh.portfolio.dto.UserInfo">
		SELECT * FROM usersInfo 
		WHERE infoId=#{infoId}
	</select>

	<select id="userList" resultMap="UserResult">
		SELECT * FROM users
	</select>

	<update id="userAccountModifybyUserName" parameterType="com.jsh.portfolio.dto.User">
		UPDATE users SET password=#{password} 
		WHERE userName=#{userName}
	</update>
	
	<update id="userInfoAccountModifybyUserName" parameterType="com.jsh.portfolio.dto.UserInfo">
		UPDATE usersInfo 
		SET 
			  email=#{email}
			, tel=#{tel} 
		WHERE infoId=#{infoId}
	</update>

	<delete id="userManagerDeleteById"  parameterType="long">
		DELETE FROM	users WHERE id=#{id}
	</delete>
	
	<delete id="userInfoManagerDeleteByInfoId" parameterType="long">
		DELETE FROM usersInfo WHERE infoId=#{infoId}
	</delete>

	<update id="userManagerIsAdminUpdateById" parameterType="com.jsh.portfolio.dto.User">
		UPDATE users SET isAdmin=#{isAdmin} WHERE id=#{id}
	</update>

	<select id="getIdbyUserName" parameterType="java.lang.String" resultType="long">
		SELECT id FROM users WHERE userName=#{userName}
	</select>

</mapper>
