<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.secuve.seminar.mapper.QnaBoardMapper">

	<resultMap id="QnaResult" type="com.secuve.seminar.dto.Qna">
		<result property="qnaId" column="QnaId" />
		<result property="qnaUserName" column="QnaUserName" />
		<result property="qnaQuestion" column="QnaQuestion" />
		<result property="qnaAnswer" column="QnaAnswer" />
		<result property="qnaRegDate" column="QnaRegDate" javaType="java.sql.Date" />

	</resultMap>

	<select id="qnaList" resultMap="QnaResult">
		select * from qna order by QnaId
		DESC
	</select>

	<insert id="qnaBoardWrite" parameterType="com.secuve.seminar.dto.Qna">
		insert into qna(qnaId, qnaUserName, qnaQuestion, qnaAnswer, qnaRegDate) values(#{qnaId},#{qnaUserName},#{qnaQuestion},#{qnaAnswer},NOW())
	</insert>

	<select id="qnaBoardViewbyQnaId" resultType="com.secuve.seminar.dto.Qna">
		select * from qna where qnaId=#{qnaId}
	</select>

	<update id="qnaBoardUpdatebyQnaId" parameterType="com.secuve.seminar.dto.Qna">
		update qna set QnaAnswer=#{qnaAnswer} where qnaId=#{qnaId}
	</update>
	
	<delete id="qnaBoradDeleteByQnaId" parameterType="long">
		delete from qna where qnaId=#{qnaId}
	</delete>

</mapper>