<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.seminar.mapper.AdminLogMapper">

	<resultMap id="LogResult" type="com.spring.seminar.dto.Log">
		<result property="logUserName" column="LogUserName" />
		<result property="logId" column="LogId" />
		<result property="logRegDate" column="LogRegDate" />
		<result property="logContent" column="LogContent" />
		<result property="ipAddress" column="IpAddress" />
	</resultMap>

	<select id="logList" resultMap="LogResult">
		SELECT * FROM log 
		ORDER BY LogRegDate DESC
	</select>
	
	<insert id="logInsert" parameterType="com.spring.seminar.dto.Log">
		INSERT INTO
		LOG(LogUserName,LogRegDate,LogId,LogContent,IpAddress,LogInHit)
		VALUES(#{LogUserName},NOW(),#{LogId},#{LogContent},#{IpAddress},#{LogInHit})
	</insert>
	
	<select id="logListbyLogUserName" parameterType="java.lang.String" resultMap="LogResult">
		SELECT * FROM log 
		WHERE LogUserName=#{LogUserName} 
		ORDER BY LogRegDate DESC
	</select>
	
	<select id="logListbyAccessIp" parameterType="java.lang.String" resultMap="LogResult">
		SELECT * FROM log 
		WHERE IpAddress=#{IpAddress} 
		ORDER BY LogRegDate DESC
	</select>
	
	<select id="logListbyDate" parameterType="java.lang.String" resultMap="LogResult">
		SELECT * FROM log 
		WHERE LogRegDate=#{LogRegDate} 
		ORDER BY LogRegDate DESC
	</select>
	
	<select id="logListbyContent" parameterType="java.lang.String" resultMap="LogResult">
		SELECT * FROM log 
		WHERE LogContent=#{LogContent} 
		ORDER BY LogRegDate DESC
	</select>

</mapper>