<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.seminar.mapper.AdminMainMapper">

	<resultMap id="accessIdResult" type="com.spring.seminar.dto.Log">
		<result property="logUserName" column="LogUserName" />
	</resultMap>

	<select id="accessIdSearch" resultMap="accessIdResult">
		SELECT DISTINCT LogUserName 
		FROM log order by LogRegDate ASC LIMIT 5
	</select>

	<resultMap id="latestBoardResult" type="com.spring.seminar.dto.Board">
		<result property="bId" column="bId" />
		<result property="bTitle" column="bTitle" />
	</resultMap>

	<select id="latestBoard" resultMap="latestBoardResult">
		SELECT 
			 bId
			,bTitle 
		FROM userBoard 
		ORDER BY bRegDate ASC LIMIT 5
	</select>

	<resultMap id="latestQnaBoardResult" type="com.spring.seminar.dto.Qna">
		<result property="qnaId" column="QnaId" />
		<result property="qnaQuestion" column="QnaQuestion" />
	</resultMap>

	<select id="latestQnaBoard" resultMap="latestQnaBoardResult">
		SELECT QnaQuestion,QnaId FROM qna order by qnaRegDate DESC LIMIT 5
	</select>

	<select id="countUser" resultType="java.lang.Integer">
		select count(id)-1 from users 
	</select>
	
	<select id="todayAccessUserCount" resultType="java.lang.Integer">
		select count(DISTINCT LogUserName) from log where LogRegDate>curdate()
	</select>
	
	<resultMap id="accessLogStatisResult" type="com.spring.seminar.dto.LogStatis">
		<result property="accessCount" column="accessCount" />
		<result property="hour" column="hour" />
	</resultMap>
	
	<select id="accessLogStatis" resultMap="accessLogStatisResult">
		SELECT count(DISTINCT LogUserName) as accessCount
			 , date_format(LogRegDate,'%H') as hour 
		FROM log WHERE LogRegDate > curdate() 
		GROUP BY date_format(LogRegDate, '%H') 
		ORDER BY LogRegDate asc
	</select>
	<!-- 시간대별로 접속한 사용자들 중에서 중복된 사용자들을 제거하고 이 사용자들의 명수를 count -->
	
	<select id="accessLogStatisbyLogUserName" parameterType="java.lang.String" resultMap="accessLogStatisResult">
	    SELECT 
	    	  LogInHit as accessCount
	    	, date_format(LogRegDate,'%H') as hour 
	    FROM log WHERE LogRegDate>curdate() AND LogUserName=#{LogUserName}    
		GROUP BY date_format(LogRegDate, '%H') 
		ORDER BY LogRegDate ASC
	</select>
	<!-- 특정 사용자의 시간대별 접속 시간에서 로그인 횟수를 count -->
	<update id="accessLogLogInHit"  parameterType="java.lang.String">
		UPDATE log set LogInHit=LogInHit+1 
		WHERE LogUserName=#{LogUserName} 
		AND date_format(LogRegDate,'%H')=date_format(NOW(),'%H')
	</update>
	<!-- 특정 사용자의 시간대별 특정 조건일때 값을 전달받아서 현재 시간에 해당하는 시간에서 Hit를 증가시킴 -->

</mapper>

