<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.seminar.mapper.QnaBoardMapper">

	<resultMap id="QnaResult" type="com.spring.seminar.dto.Qna">
		<result property="qnaId" column="QnaId" />
		<result property="qnaUserName" column="QnaUserName" />
		<result property="qnaQuestion" column="QnaQuestion" />
		<result property="qnaAnswer" column="QnaAnswer" />
		<result property="qnaRegDate" column="QnaRegDate" javaType="java.sql.Date" />
	</resultMap>

	<select id="qnaList" resultMap="QnaResult">
		SELECT * FROM qna 
		ORDER BY QnaId DESC
	</select>

	<insert id="qnaBoardWrite" parameterType="com.spring.seminar.dto.Qna">
		INSERT INTO qna(qnaId, qnaUserName, qnaQuestion, qnaAnswer, qnaRegDate) 
		VALUES(#{qnaId},#{qnaUserName},#{qnaQuestion},#{qnaAnswer},NOW())
	</insert>

	<select id="qnaBoardViewbyQnaId" resultType="com.spring.seminar.dto.Qna">
		SELECT * FROM qna WHERE qnaId=#{qnaId}
	</select>

	<update id="qnaBoardUpdatebyQnaId" parameterType="com.spring.seminar.dto.Qna">
		UPDATE qna SET QnaAnswer=#{qnaAnswer} WHERE qnaId=#{qnaId}
	</update>
	
	<delete id="qnaBoradDeleteByQnaId" parameterType="long">
		DELETE FROM qna WHERE qnaId=#{qnaId}
	</delete>

</mapper>